.banner-principal-decorativo
  
  
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 59%
    right: 86%
    width: 35%

  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 15%
  
  &-3
    animation: float3 2.8s ease-in-out infinite alternate
    position: absolute
    top: 3%
    right: 195%
    width: 25%
  &-4
    animation: float3 2.8s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 87%
    width: 15%
  &-5
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 75%
    right: 1%
    width: 15%
  &-6
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 2%

  


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


  
@keyframes float2
  0%
    transform: translateY(10px)

  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translateY(10px)

  100%
    transform: translateY(0px)

@keyframes float3
  0%
    transform: translateX(10px)

  100%
    transform: translateX(0px)


.bloque-texto-color
  background: #DAF7F2 
  
.bloque-texto-color-rojo
  background: #EF3C79 

.bloque-texto-color-azul
  background-color: #0B5999

.bloque-texto-color-verde-claro
  background-color: #E0FCF7

.bloque-texto-color-blanco
  color: white !important

.titulo-principal__numero span
  color: white !important

.bloque-texto-mitad-color
  background: linear-gradient(to right, #ffffff 19%, #21CBAE 19%);
  

.bloque-texto-mitad-color-izquierda
  background: linear-gradient(to left, #ffffff 30%, #21CBAE 30%);
  position: relative;
  //top: 87%;
  left: 8%;
  width: 80%


.bloque-texto-imagen-color
  background-color: #EAF1F6

.bloque-texto-imagen-izquierda
  background-color: #E8F9F6
  //border-radius: 25px
  border: 2px 
  right: 80%

  
.bloque-texto-color-clausulas
  background-color: #CEE0EC
  position: absolute
  top: 69%
  left: 10%
  width: 80%

.bloque-texto-color-clausulas-final
  background: linear-gradient(180deg, #73b6eb, #2d67af, #22397e);
  position: relative
  //top: 100%
  bottom: 20%
  left: 8%
  width: 80%


.bloque-texto-color-puntos-calientes
  background-color: #FECB2F

.fa-plus::before
  color: #61C8AF

.fa-minus:before
  color: #61C8AF

.acordion__activo
  background-color: #def7f3

.bloque-texto-slider-imagen-de-fondo
  background-color: #EAF1F6

//Color de los puntos calientes
.img-infografica__item__dot:before
  background-color: #00FFE6 !important


.imagen-izquierda-tarjeta
  
  position: absolute
  top: 17%
  right: 80%
  width: 12%

.imagen-izquierda-tarjeta-2
  
  position: absolute
  top: 20%
  right: 80%
  width: 12%

.imagen-izquierda-tarjeta-3
  
  position: absolute
  top: 76%
  right: 91%
  width: 12%

.imagen-izquierda-tarjeta-clausulas
  
  position: absolute
  top: 15%
  right: 86%
  width: 7%


.imagen-texto-destacado
  width: 45%


.bloque-texto-tipos-acuerdos-confidencialidad
  background-color: #CEE0EC
  right: 2%
  width: 100%
  

.bloque-texto-tipos-acuerdos-confidencialidad-2
  background-color: #CEE0EC
  right: 5%
  width: 100%

.texto-tipos-acuerdos-confidencialidad
  
  width: 100%
  margin-right: 5px



.imagen-tipos-acuerdos-confidencialidad

  position: absolute
  top: 29%
  right: 82%
  width: 15%
  z-index: 1

.imagen-tipos-acuerdos-confidencialidad-2

  position: absolute
  top: 59%
  right: 82%
  width: 15%
  z-index: 1

.banner-principal__img
  
  display: flex
  flex-direction: column
  padding-top: 5rem rem !important;
  padding-bottom: 0rem !important;
  
  
  
  
